@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.module.scss' as *;

@mixin with-sizes {
  &.small {
    padding: 15px 20px;
  }

  &.large {
    padding: 24px 69px;
    font-size: 14px;
  }
}

@mixin base-typography {
  font-size: 13px;
  font-weight: 600;
  font-family: $font-proxima;
  letter-spacing: 0.07em;
  line-height: 1;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;

  @include focus-ring;
  @include base-typography;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    border: none;
    background: $color-primary;
    border-radius: 100px;
    color: #fff;
    @include with-sizes;
  }

  &.outline {
    background: transparent;
    border: 1px solid #d7d7d7;
    border-radius: 100px;
    transition: $transition-base;
    &:hover {
      border: 1px solid $color-primary;
    }
    @include with-sizes;
  }

  &.text {
    background: transparent;
    border: none;
    color: $color-primary;
  }
}

.inner {
  display: grid;

  place-items: center;

  overflow: hidden;
  grid-template-areas: 'stack';
}

.innerText {
  grid-area: 1 / 1;

  line-height: 1;
  transition: transform $duration-base $ease-standard;
}

.innerText:first-child {
  transform: translateY(0%);
}

.innerText:last-child {
  transform: translateY(100%);
}

.button:hover .innerText:first-child {
  transform: translateY(-100%);
}

.button:hover .innerText:last-child {
  transform: translateY(0%);
}
