@use '@/styles/variables.module.scss' as *;

.burgerContainer {
  &:hover .burger span:first-child {
    transform: translateY(-2px);
  }

  &:hover .burger span:last-child {
    transform: translateY(2px);
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burger span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: $color-primary;
  transition: $transition-base;
}
