@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.module.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  z-index: 1000;
  @include flex-center;

  &.enter {
    opacity: 0;
  }

  &.enterActive {
    opacity: 1;
    transition: opacity $duration-base $ease-out;
  }

  &.exit {
    opacity: 1;
  }

  &.exitActive {
    opacity: 0;
    transition: opacity $duration-base $ease-out;
  }
}

.panel {
  position: relative;
  width: 100%;
  flex-direction: column;
  margin: auto;
  max-width: 455px;

  @include mobile {
    max-width: 320px;
  }

  @include tablet {
    max-width: 440px;
  }

  @include small-desktop {
    max-width: 370px;
  }

  @include large-desktop {
    max-width: 590px;
  }
}

.container {
  position: relative;

  height: 90vh;
  @include flex-center;
  @include container;
}

.close {
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0;
  transition: $transition-base;
  &:hover {
    opacity: 0.7;
  }
}

.close svg {
  width: 24px;
  height: 24px;
  color: black;
}

.heading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: left;
  }

  @include tablet {
    font-size: 28px;
  }

  @include small-desktop {
    font-size: 28px;
  }

  @include large-desktop {
    font-size: 52px;
    margin-bottom: 80px;
  }
}
