@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.module.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #fff;
  z-index: 9999;

  &.enter {
    opacity: 0;
  }

  &.enterActive {
    opacity: 1;
    transition: opacity $duration-base $ease-out;
  }

  &.exit {
    opacity: 1;
  }

  &.exitActive {
    opacity: 0;
    transition: opacity $duration-base $ease-out;
  }
}

.panel {
  position: relative;
  width: 100%;

  flex-direction: column;
  max-width: 520px;
  margin: auto;
}

.container {
  display: flex;
  position: relative;
  width: 90vw;

  height: 90vh;
  @include flex-center;
  @include container;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  & svg {
    width: 24px;
    height: 24px;
    color: black;
  }
}
