@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.module.scss' as *;

.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto 1fr;
  // TO DO высчитать
  height: calc(100dvh - 100px);
  @include container;

  @include tablet-and-down {
    display: flex;
    flex-direction: column;
    align-content: start;
  }
}

.title {
  display: none;
}

.description {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 350px;

  font-size: 26px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  display: block;
  align-self: end;

  @include mobile {
    font-size: 13px;
    line-height: 1.5;
    align-self: start;
    padding-bottom: 20px;
    max-width: 175px;
  }

  @include tablet {
    font-size: 26px;
    align-self: start;
    padding-bottom: 43px;
  }

  @include small-desktop {
    max-width: 255px;
    font-size: 19px;
    padding-bottom: 40px;
  }

  @include desktop {
    max-width: 255px;
    font-size: 19px;
    padding-bottom: 40px;
  }

  @include large-desktop {
    font-size: 31px;
    max-width: 415px;
    padding-bottom: 40px;
  }

  color: $color-primary;
}

.image {
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 505px;

  @include mobile {
    height: 315px;
    margin-bottom: 20px;
  }

  @include tablet {
    height: 490px;
    margin-bottom: 40px;
  }
  @include small-desktop {
    height: 410px;
  }

  @include large-desktop {
    height: 600px;
  }
}

.image img {
  object-fit: cover;
}

.logo {
  align-self: end;
  padding-bottom: 40px;

  @include tablet-and-down() {
    padding-bottom: 0px;
    align-self: start;
  }
}
