@use '../../../styles/variables.module.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 140%;
  max-width: 454px;
  text-align: center;
  color: $color-secondary;
  & a {
    color: inherit;
    text-decoration: underline;
  }
}

.inputsContainer {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.button {
  width: fit-content;
}
